.conteudo{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.conteudo h1{
    font-size: 36px;
    text-align: center;
}

.conteudo .entrada-de-dados {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.entrada-de-dados input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.entrada-de-dados input::placeholder {
    color: #fff;
}

.entrada-de-dados .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.conteudo .relembrar-senha {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.relembrar-senha label input{
    accent-color: #fff;
    margin-right: 4px;
}

.relembrar-senha a {
    color: #fff;
    text-decoration: none;
}

.relembrar-senha a:hover {
    text-decoration: underline;
}

.conteudo button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #454545;
    font-weight: 700;
}

.conteudo .registro {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registro p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.registro p a:hover {
    text-decoration: underline;
}

.ou {
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;
}